/* colored links */
a { text-decoration: none; color: #2e8555; }

/* per-language fonts (after installing them system-wide or via @font-face) */
:lang(he) { font-family: "David CLM", sans-serif; }
:lang(ar) { font-family: "Amiri", "Noto Naskh Arabic", sans-serif; }
html {
    font-family: "Gentium Book Plus", serif;
}

title {
    display:none
}

h1, h2, h3, h4, h5 {
    font-family: "Gentium Book Plus", sans-serif;
}

h1:first-of-type {
    text-align: right;
}

/* page numbers: */
@page { @bottom-center { content: counter(page) " / " counter(pages); } }

/* nicer blockquotes */
blockquote {
    border-left: 3px solid #bbb; padding: .6rem 1rem; margin: 1rem 0;
    font-style: italic; background: #f7f7f7;
}
