<div class="ui container">
    <!-- breadcrumb -->
    <div class="ui breadcrumb">
        <a class="section" href="/">Home</a>
        <div class="divider"> /</div>
        <a class="section" href="/crypto/">Crypto</a>
        <div class="divider"> /</div>
        <a class="section" ui-sref="home">Smart Contract Tools</a>
        <div class="divider"> /</div>
        <div class="active section">Text<>Hex Converter</div>
    </div>
    <div class="line"></div>

    <h1>Text <> Hex Converter </h1>
    <br>
    
    <no-connection-to-node-error></no-connection-to-node-error>

    <form>
        <div class="ui fluid labeled input">
            <div class="ui label">text</div>
            <input placeholder="" type="text" ng-model="textToHexInput">
            <button class="ui button" ng-click="toHex()">convert to hex</button>
        </div>
        <div class="ui fluid input">
            <input ng-model="textToHexResult">
        </div>
    </form>
    <br>
    <form>
        <div class="ui fluid labeled input">
            <div class="ui label">hex</div>
            <input placeholder="" type="text" ng-model="bytes32toTextInput">
            <button class="ui button" ng-click="toText()">convert to text</button>
        </div>
        <div class="ui fluid input">
            <input ng-model="bytes32toTextResult">
        </div>
    </form>


    <!-- Footer -->
    <br><br>
    <footer-main></footer-main>
</div>