body {
    background-color: #111;
    overflow: hidden;
    /**/
}

canvas {
    position: absolute;
    top: calc( 50% - 200px);
    left: calc( 50% - 200px);
}

button {
    font: 300 1em;
    font-family: arial;
    color: purple;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

button:hover,
buton:focus {
  /*box-shadow: 0em 0.1em 0.1em pink;*/
  /*text-shadow: 0.05em 0.05em 0.05em red;*/
  text-shadow: 0.05em 0.05em 0.05em blue;
}

.buttons {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;

}

.line {
	border: 1px solid purple;
}

.line:hover{
	box-shadow: 0.05em 0.05em 0.05em blue;
}
