<div class="ui container">
    <!-- breadcrumb -->
    <div class="ui breadcrumb">
        <a class="section" href="/">Home</a>
        <div class="divider"> /</div>
        <a class="section" href="/crypto/">Crypto</a>
        <div class="divider"> /</div>
        <a class="section" ui-sref="home">Smart Contract Tools</a>
        <div class="divider"> /</div>
        <div class="active section">Smart contract events monitor</div>
    </div>
    <div class="line"></div>

    <a class="ui blue ribbon label" ng-href="{{currentNetwork.etherscanLinkPrefix}}" target="_blank">
            <span style="color: white">
            <i class="ethereum icon"></i>{{currentNetwork.networkName}}
            </span>
    </a>
    <h1 style="margin-top: 0em">Smart contract events monitor</h1>

    <div id="smartContractInfo">
        <div ng-show="!userProvidedABI||userProvidedABI===''">
            <p>
                Smart contract verified code from etherscan.io will be used, or you can
                <a href="" ng-click="showABI=!showABI">
                    provide ABI
                </a>
                manually
                <span ng-show="contractAddress">for: &nbsp;<a
                        ng-href="{{currentNetwork.etherscanLinkPrefix}}address/{{contractAddress}}"
                        title="click to see code on etherscan.io" target="_blank">
            {{contractAddress}}
        </a></span>
            </p>
        </div>

        <div ng-show="userProvidedABI">
            Your provided ABI will be used for
            <span ng-show="contractAddress">&nbsp;<a
                    ng-href="{{currentNetwork.etherscanLinkPrefix}}address/{{contractAddress}}"
                    title="click to see smart contract on etherscan.io" target="_blank">
            {{contractAddress}}
        </a></span>
        </div>
    </div>

    <no-connection-to-node-error></no-connection-to-node-error>

    <div class="ui fluid action input">
        <input type="text" placeholder="enter smart contract address (required)" ng-model="contractAddress">
        <button class="ui secondary button" ng-click="monitorEvents(additionalFilterObjectInput)">
            Monitor events
        </button>
    </div>

    <!-- filter options  -->
    <button ng-show="currentBlockNumber>=0" class="ui mini basic button" ng-click="refreshCurrentBlockNumber()"
            title="Click to refresh">
        current block: {{currentBlockNumber}}
    </button>

    <button ng-show="!showFilterOptions" class="ui mini button" ng-click="showFilterOptions=!showFilterOptions">
        show options
    </button>
    <button ng-show="showFilterOptions" class="ui mini button" ng-click="showFilterOptions=!showFilterOptions">
        hide options
    </button>

    <button ng-show="!showABI" class="ui mini button" ng-click="showABI=!showABI">
        provide your ABI
    </button>
    <button ng-show="showABI" class="ui mini button" ng-click="showABI=!showABI">
        hide ABI
    </button>

    <button ng-show="!showTableFilter" class="ui mini button" ng-click="showTableFilter=!showTableFilter">
        show filter
    </button>
    <button ng-show="showTableFilter" class="ui mini button" ng-click="showTableFilter=!showTableFilter">
        hide filter
    </button>

    <div ng-show="showABI">
        <form id="formABI">
            <fieldset>
                <legend>ABI</legend>
                you can provide ABI for smart contract, that will be used instead of searching for ABI on etherscan.io
                <br>
                <div class="ui form">
                    <div class="field">
                        <!--<label>User Text</label>-->
                        <textarea ng-model="userProvidedABI"></textarea>
                    </div>
                </div>
                <button class="ui mini button" ng-click="clearUserProvidedABI()">
                    clear ABI
                </button>
            </fieldset>
        </form>
    </div>

    <div ng-show="showFilterOptions">
        <form>
            <fieldset>
                <legend>Options</legend>
                can take time if requested from early blocks<br>

                <div class="ui mini labeled input">
                    <div class="ui label">from block:</div>
                    <input placeholder="latest (default)" type="number"
                           ng-model="additionalFilterObjectInput.fromBlock">
                </div>

                <div class="ui mini labeled input">
                    <div class="ui label">to block:</div>
                    <input placeholder="latest (default)" type="number"
                           ng-model="additionalFilterObjectInput.toBlock">
                </div>

                <div class="ui mini labeled input">
                    <div class="ui label">max events to show:</div>
                    <input placeholder="" type="number" ng-model="maxEventsNumber">
                </div>

                <br><br>
                <button class="ui mini secondary button" ng-click="applyFilter()">apply options</button>&nbsp;
                <button class="ui mini secondary button" ng-click="clearFilter()">clear options</button>
            </fieldset>
        </form>
    </div>
    <!-- -->

    <!-- errors -->
    <div id="allEventsError" ng-show="allEventsError">
        <div class="ui negative message">
            <!--<i class="close icon"></i>-->
            <div class="header">{{allEventsError}}</div>
        </div>
    </div>

    <div id="etherscanError" ng-show="etherscanError">
        <div class="ui negative message">
            <i class="close icon" ng-click="etherscanError=null"></i>
            <p>{{etherscanError}}</p>
        </div>
    </div>
    <!-- -->

    <div ng-show="listeningToEvents">
        <br>
        Monitoring events (max: 100) from
        <a ng-href={{currentNetwork.etherscanLinkPrefix}}address/{{contractAddress}}" target="_blank">
            {{contractAddress}}
        </a>
        <span title="working...">
                    <i class="fa fa-refresh fa-spin fa-fw"></i>
        </span>
        <button ng-click="stopMonitoringEvents()">stop</button>
    </div>

    <div id="tableFilter" ng-show="showTableFilter">
        <form id="showTableFilterForm">
            <fieldset>
                <legend>Filter</legend>

                <div class="ui mini labeled input">
                    <div class="ui label">Event name:</div>
                    <input type="text" placeholder="(case sensitive)" ng-model="showTableFilterOptions.event">
                </div>
                <div class="ui mini labeled input">
                    <div class="ui label">Event data:</div>
                    <input type="text" placeholder="(case sensitive)" ng-model="showTableFilterOptions.eventData">
                </div>

            </fieldset>
        </form>
    </div>

    <!-- Table -->
    <table class="ui celled structured table">
        <thead>
        <tr>
            <th>
                Index
            </th>
            <th>
                Event data
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="event in allEvents">

            <td ng-hide="(showTableFilterOptions.event&&showTableFilterOptions.event!=''&&event.event.indexOf(showTableFilterOptions.event)===-1)||(showTableFilterOptions.eventData&&showTableFilterOptions.eventData!=''&&event.argsStr.indexOf(showTableFilterOptions.eventData)===-1)">
                {{$index+1}}
            </td>

            <td ng-hide="(showTableFilterOptions.event&&showTableFilterOptions.event!=''&&event.event.indexOf(showTableFilterOptions.event)===-1)||(showTableFilterOptions.eventData&&showTableFilterOptions.eventData!=''&&event.argsStr.indexOf(showTableFilterOptions.eventData)===-1)">

                Event: <span style="font-weight: bold">{{event.event}}</span><br>
                Event data: {{event.args}}<br>
                Log index: {{event.logIndex}}<br>
                Block number:
                <a ng-href="{{currentNetwork.etherscanLinkPrefix}}block/{{event.blockNumber}}"
                   target="_blank">
                    {{event.blockNumber}}
                </a>
                <br>
                Transaction Hash:
                <a ng-href="{{currentNetwork.etherscanLinkPrefix}}tx/{{event.transactionHash}}"
                   target="_blank">
                    {{event.transactionHash}}
                </a>
                <br>

            </td>
        </tr>
        </tbody>
    </table>
    <!-- Footer -->
    <br><br>
    <footer-main></footer-main>
</div>