<div class="ui container">
    <!-- breadcrumb -->
    <div class="ui breadcrumb">
        <a class="section" href="/">Home</a>
        <div class="divider"> /</div>
        <a class="section" href="/crypto/">Crypto</a>
        <div class="divider"> /</div>
        <a class="section" ui-sref="home">Smart Contract Tools</a>
        <div class="divider"> /</div>
        <div class="active section">Deploy smart contract</div>
    </div>
    <div class="line"></div>

    <no-connection-to-node-error></no-connection-to-node-error>

    <a class="ui blue ribbon label" ng-href="{{currentNetwork.etherscanLinkPrefix}}" target="_blank">
            <span style="color: white">
            <i class="ethereum icon"></i>{{currentNetwork.networkName}}
            </span>
    </a>
    <h1 style="margin-top: 0em">Deploy smart contract</h1>

    <div>compiler (solc-js) version to use</div>
    <select class="ui fluid selection dropdown" ng-model="solcVersionToUse">
        <option ng-repeat="solcVersion in allSolcVersions" ng-value="solcVersion">
            {{solcVersion.substr(8, solcVersion.length)}}
        </option>
    </select>
    <div class="ui checkbox">
        <input name="example" type="checkbox" ng-model="optimize">
        <label>Enable Optimization</label>
    </div>

    <!-- see: onReadFile directive -->
    <div>Paste source in the form below or upload file</div>
    <input type="file" on-read-file="readFileContent($fileContent)"/>
    <div class="ui form">
        <div class="field">
            <!--<label>User Text</label>-->
            <textarea ng-model="contractSource">{{contractSource}}</textarea>
        </div>
    </div>
    <button class="ui mini secondary button" ng-click="compile()">
        <span ng-show="compilerIsWorking" title="working...">
            <i class="fa fa-refresh fa-spin fa-fw"></i>
        </span>
        compile
    </button>
    &nbsp;
    &nbsp;
    <span>{{solcVersionToUse}}, optimization: {{optimize}}</span>
    <br>

    <!-- errors -->
    <div id="compilerError" ng-show="compilerError">
        <div class="ui negative message">
            <i class="close icon" ng-click="compilerError=null"></i>
            <div class="header">compiler error:</div>
            <p>{{compilerError}}</p>
        </div>
    </div>

    compiled contract:
    <div class="ui form">
        <div class="field">
            <textarea onclick="this.select()">{{contract.contractCompiled}}</textarea>
            <!--<textarea onclick="this.select()" ng-model="contract.contractCompiled"></textarea>-->
        </div>
    </div>

    <br><br>

    <!--<div class="ui fluid input">-->
    <!--<input type="text" placeholder="enter smart contract name" ng-model="contractName">-->
    <!--</div>-->

    <div>contract to deploy:</div>
    <select class="ui fluid selection dropdown" ng-model="contractName">
        <option ng-repeat="name in contractNames" ng-value="name">
            {{name}}
        </option>
    </select>

    <button class="ui mini secondary button" ng-click="deploy()">
        <span ng-show="deployIsWorking" title="working...">
            <i class="fa fa-refresh fa-spin fa-fw"></i>
        </span>
        deploy
    </button>
    &nbsp;contract {{contractName}}
    <hr>
    <!-- errors -->
    <div id="deployError" ng-show="deployError">
        <div class="ui negative message">
            <i class="close icon" ng-click="deployError=null"></i>
            <div class="header">deploy error:</div>
            <p>{{deployError}}</p>
        </div>
    </div>

    Transaction hash:
    <a ng-href="{{currentNetwork.etherscanLinkPrefix}}tx/{{contractDeployed.transactionHash}}"
       target="_blank">
        {{contractDeployed.transactionHash}}
    </a><br>
    Contract deployed at:
    <a ng-href="{{currentNetwork.etherscanLinkPrefix}}address/{{contractDeployed.address}}" target="_blank">
        {{contractDeployed.address}}
    </a>
    <hr>

    <!-- Footer -->
    <br><br>
    <footer-main></footer-main>

</div>